@model Merge
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Online Library</title>
    <!-- Favicon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/Dashboard">Online Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Dashboard">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
          </ul>
          <form class="d-flex">
            <button class="btn btn-outline-dark" type="submit">
              <a href="/yourspace">Your Space</a>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Online Library</h1>
          <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
      </div>
    </header>
    <!-- Section-->
    <section class="py-5" style="background-color:#666666; ">
      <div class="container px-4 px-lg-5 mt-5" >
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          @foreach (var item in ViewBag.allbooks){
            <div class="col mb-2">
              <div class="card h-100 "style = "background-color: #cccccc; min-height: 500px"  >
                <!--Book cover-->
                <img class="card-img-top" src= "@Url.Content("~/BookImages/"+ @item.ImagePath)" alt="..." />
                <div class="card-body p-4">
                  <div class="text-center">
                    <h5> <a class="hovercolor" data-bs-toggle="modal" data-bs-target="#hello_@item.bookId">@item.bookTitle</a></h5> 
                    <h5> Author: @item.bookAuthor</h5>  
                    <h5> Published by: @item.bookCreator.firstName</h5> 
                    <h5> Category: <a href="/category/@item.categoryId"> @item.bookCategory</a></h5>
                  </div>
                </div>
                <div class="d-flex mb-2 pl-2 justify-content-around bgcolor text-white">
                  <div class="d-flex text-center ">

                 
                @{string nameTest = "";
          
                 @foreach (var item2 in @ViewBag.likeBook)
                 {
                  @if (item.bookId == item2.bookId) 
                  {
                  nameTest = "Unlike";
                     }
                  else
                  {
                     nameTest = "Like";
                    
                  }
                
                 }}
                 <button class=" d-inline btn btn-outline-dark mt-auto" id="test1" type="button" value="@item.bookId" onclick="test2(this)">@nameTest</button>

                  <p><span id="@item.bookId">@item.booklikes.Count</span>Like</p>
                 
                  </div>
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#hello1_@item.bookId">
                    Comment
                    </button>
                    <!-- Modal for Book details -->
                    <div class="modal fade" style="color: black" id="hello_@item.bookId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog" >
                        <div class="modal-content"style="overflow-y :scroll; height:500px" >
                          <div class="modal-header">
                             @{var reviewvalue = 0;}
                             @{var countreviews = 0; double rate = 0;}
                             <!-- This loop takes all the reviews,filter them to match the book and at the end calculates the average. -->
                            @foreach (var review in ViewBag.allreviews)
                            {
                              if (item.bookId == review.bookId)
                              {
                                 countreviews ++;
                                reviewvalue += review.reviewValue;
                              }
                             rate =(double) reviewvalue/countreviews;
                            
                            }
                            @if (double.IsNaN(rate))
                            {
                              rate = 0;
                            }
                            <h5 style="color :black" class="modal-title" id="staticBackdropLabel">@item.bookTitle <span>&#40;</span>@rate<span>&#41;</span></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body" style="overflow-y: scroll; height:80%" >
                            <div class="row" >
                              <div class="col-sm">
                                <h5 style="color: black">Likes</h5>
                                <!-- This loop takes all the likes,filter them to match the book and at the end shows who has liked the given book -->
                                @foreach (var item1 in ViewBag.listlikedbook)
                                {
                                  if (item.bookId == item1.bookId)
                                  {
                                    <h6 style="color: black">@item1.user.firstName @item1.user.lastName</h6>
                                  }                           
                                }
                              </div>
                              <div class="col-sm">
                                <h5 >Comments</h5>
                                <div style="color: black" class="comment mt-4 text-justify float-left">                              
                                        <h4>By publisher</h4>
                                        
                                        <p>@item.bookDescription</p>
                                        
                                        </div>
                                <!-- This loop takes all the comments,filter them to match the book and at the end shows who has commented to the given book -->
                                @foreach (var comment in ViewBag.allcomments)
                                {
                                  if (item.bookId == comment.bookId )
                                  {
                                      <div style="color: black" class="comment mt-4 text-justify float-left">                              
                                        <h4>@comment.user.firstName @comment.user.lastName</h4>
                                        <span>-@comment.CreatedAt</span>
                                        <br>
                                        <p>@comment.theComment</p>
                                        @foreach (var review in ViewBag.allreviews)
                                    {
                                        @if (comment.bookId == review.bookId && comment.userId == review.userId )
                                        {
                                        @for(var i = 0; i < review.reviewValue; i++){
                                            <span class="fa fa-star checked"></span>
                                          }
                                        }}
                                          </div>
                                        
                                    
                                    
                                  }
                      
                                  }
                              </div>
                            </div> 
                          </div>                          
                            <div class="modal-footer d-flex justify-content-between"> 
                              <form class="d-flex " style="width:70%" action = "/addReview/@item.bookId" method="post">
                      @* <p>Rate this book</p> *@
                      <input class="review" min="1" max="5" asp-for="@Model.Review.reviewValue">
                      <button type="submit" class="btn btn-success">Rate</button>
                    </form>                               
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal for addding the commment -->
                    <div class="modal fade" style="color: black" id="hello1_@item.bookId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog" >
                        <div class="modal-content" >
                          <div class="modal-header">
                            <h5 style="color: black" class="modal-title" id="staticBackdropLabel">Add a comment for  @item.bookTitle</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form action="/addComment/@item.bookId" method="post">
                            <div class="modal-body">
                              <textarea id="w3review" asp-for="@Model.Comment.theComment" rows="4" cols="50">
                              </textarea>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Comment</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          }
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Online Library 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="/site.js">
      
</script>
  </body>
</html>
